<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>행동</title>
</head>
<body>
    <h1>행동 카테고리</h1>
    <input type="button" value="일심동체" onclick="location.href='behavior'">
    <input type="button" value="몸으로 말하기" onclick="location.href='behavior'">
    <input type="button" value="줄줄이 말하기" onclick="location.href='behavior'">
    <input type="button" value="이어 그리기" onclick="location.href='behavior'">
</body>
</html>