<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/mainTimerSetting.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div class="wrap">
      <div class="title">타이머 설정</div>

      <p>
        문제 풀이 타이머를 설정하고<br />
        시작 버튼을 눌러주세요
      </p>

      <br />
      <% var game = data %>

      <form action="/gametimer/<%=game.game%>" method="post">
        <div class="container">
          <div class="alarm_setting">
            <img class="alarm" src="/public/alarm.png" />
            <input type="number" name="time">
          </div>
        </div>
  
        <div class="start">
        <button type="submit"><img class="start_button" src="/public/start-button.png" /></button>
        </div>
      </form>
    </div>
  </body>
</html>
