<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/gameEnd.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrap">
        <div class="title">
            <% var quiz = data[0] %>
            <%= quiz.name %>
        </div>
        <a href="/"><img src="/public/home.png" alt="홈으로" class="homeb"></a>
       
        <br>
       
            <p>문제를 다 풀었습니다!</p>
       
        <hr class="shortline">
        <br><br>
        <div class="container">
            <div class="group">
                <% if(quiz.name == "OX"){%>
                    <a href="/quiz/ox"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                <% if(quiz.name == "네글자"){%>
                    <a href="/quiz/ox"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                <% if(quiz.name == "넌센스"){%>
                    <a href="/quiz/ox"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                <% if(quiz.name == "상식퀴즈"){%>
                    <a href="/quiz/ox"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                <% if(quiz.name == "국기 맞히기"){%>
                    <a href="/quiz/flag"><div><button class="category">더 풀기</button></div></a>
                <%}%>
                <div><a href="/"><button class="category">끝내기</button></div></a>
            </div>
        </div>
    </div>
</body>
</html>
