<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recreation Game</title>
    <script src="/public/main.js" defer></script>
    <link rel="stylesheet" href="/public/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="top">
      <h1 class="title">레크레이션 게임</h1>

      <div class="clock">
        <a href='/mainTimerSetting'><img class="alarm" src="/public/alarm.png" alt="알람" /></a>
      </div>
    </nav>

    <section>
      <hr class="line" color="black" size="5" />
    </section>

    <div class="btn">
      <div class="quizbtn">
        <p class="quizletter"><a href="/quiz">퀴즈</a></p>
      </div>
      <div class="actionbtn">
        <p class="actionletter"><a href="/action">행동</a></p>
      </div>
    </div>

    <div class="question">
      <img src="/public/question.png" id="image" />
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modal-text">Modal text</p>
          <!-- 모달 팝업에 표시할 텍스트 요소 -->
          <p>이 사이트는 레크레이션을 준비하는 담당자들을 위해 준비한 게임 모음 사이트입니다.</p>
          <p>메인화면 타이머 - 릴레이 게임 등을 위한 타이머. 다양한 용도로 사용 가능합니다.</p>

게임 설명: 카테고리별 원하는 게임 선택 -> 타이머 설정 -> 연습문제 -> 본게임(10문제)
* 타이머 설정 후 START버튼을 누르면 바로 시간이 감소됩니다.

행동 
일심동체 - 키워드 보고 똑같은 포즈
몸으로 말해요 - 한 팀원만 키워드를 보고 몸으로 설명하면 남은 팀원이 맞히는 게임
줄줄이  말하기 - 주제를 보고 모든 팀원이 서로 다른 연관 단어 말하기
이어 그리기 - 
- 팀 당 1개의 스케치북 또는 패드 필요, 키워드를 보고 한 사람씩 이어 그리기, 마지막 팀원은 키워드 보지 않고 그림만 보고 답 맞히기
        </div>
      </div>
    </div>
  </body>
</html>
