<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레크레이션 담당자들을 위한 게임 모음 사이트</title>
    <link href="/public/main.css" rel="stylesheet">
</head>
<body>
    <h1>레크레이션 담당자 게임 모음</h1>
    <input type="button" value="퀴즈" onclick="location.href='quiz'">
    <input type="button" value="행동" onclick="location.href='behavior'">
</body>
</html>