<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/question.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        #myProgress {
          width:300px;
          height:50px;
          background-color:#F6B157;
      }
   
        #myBar {
          width:300px;
          height:50px;
          background-color:hsl(27, 100%, 50%);
      }
      </style>
</head>
<body>
    <div class="wrap">
        <div class="title">퀴즈 연습문제</div>
        <a href="/"><img src="/public/home.png" alt="홈으로" class="homeb"></a>
       
        <br><br><br><br>

        <div class="timer">
            <img src="/public/alarm.png" alt="타이머" class="alarm">
            <div id="myProgress">
                <div id="myBar"></div>
                <br>
                <!-- <div style="text-align:right"><button onclick="start()" class="start">타이머 시작</button></div> -->
              </div>
        </div>
        <div id="digit"></div>
        <br><p>
            <% var quiz = data[0] %>

            <% if(quiz.num == 5){%>
                <img src='<%= quiz.quiz %>' width="700" height="450">
            <%} else{ %>
                <%= quiz.quiz %>
            <%}%>

        </p>    
       <br>
       
        <div class="container">
            <div class="group">
                <% if(quiz.num == 1){%>
                    <a href="/quiz/ox/practice/answer"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.num == 2){%>
                    <a href="/quiz/nonsense/practice/answer"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.num == 3){%>
                    <a href="/quiz/fourWord/practice/answer"><button class="category">정답</button></div></a>
                <%}%>
        
                <% if(quiz.num == 4){%>
                    <a href="/quiz/knowledge/practice/answer"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.num == 5){%>
                    <a href="/quiz/flag/practice/answer"><button class="category">정답</button></div></a>
                <%}%>

                <% if(quiz.num == 6){%>
                    <a href="/quiz/movie"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 7){%>
                    <a href="/quiz/drama"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 8){%>
                    <a href="/quiz/dance"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 9){%>
                    <a href="/quiz/food"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.num == 10){%>
                    <a href="/quiz/anniversary"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.num == 11){%>
                    <a href="/quiz/hobby"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 12){%>
                    <a href="/quiz/job"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 13){%>
                    <a href="/quiz/sports"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 14){%>
                    <a href="/quiz/animal"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.num == 15){%>
                    <a href="/quiz/emotion"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                        
                <% if(quiz.num == 16){%>
                    <a href="/quiz/instrument"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 17){%>
                    <a href="/quiz/proverb"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
        
                <% if(quiz.num == 18){%>
                    <a href="/quiz/person"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.num == 19){%>
                    <a href="/quiz/object"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>

                <% if(quiz.num == 20){%>
                    <a href="/quiz/actionGame"><img src="/public/right.png" alt="다음으로" class="right"></a>
                <%}%>
                
                
            </div>
        </div>
    </div>
        <% var getTime = data1[0] %>
    <script>

        var i = '<%= getTime.time %>';
        var k = 300/(i/100)
          window.onload=function() {
            if (i == i)
            {
                var digit = document.getElementById("digit");         
                var elem = document.getElementById("myBar");
                var width = 300;
                var id = setInterval(frame,1000);
                function frame() {
                    if (width <= 0) {
                        clearInterval(id);   
                    }
                     else {
                        width-= k;
                        elem.style.width = width + "px";
                      }
                  }
              }
          }
        </script>

</body>

</html>



