<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/public/quiz.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    

    <nav class="top">
        <h1 class="title">퀴즈 카테고리</h1>

        <div class="home">
            <a href="/">
            <img class='home' src="/public/home.png" alt="홈으로">
            </a>
        </div>
    </nav>
    
    <section>
    <hr class="line" color="black" size="5">
    </section>

    <article class="btn">
        <div class="fourquizbtn"><p class="title1"><a href="/quiz/fourWord/practice">네글자<br> 이어말하기</a></p></div>
        <div class="commonsensebtn"><p class="title2"><a href="/quiz/knowledge/practice">상식</a></p></div>
        <div class="oxbtn"><p class="title4"><a href="/quiz/ox/practice">OX</a></p></div>
        <div class="nonesensebtn"><p class="title3"><a href="/quiz/nonsense/practice">넌센스</a></p></div>
        <div class="flagbtn"><p class="title2">국기</p></div>
        <div class="snackbtn"><p class="title2">과자</p></div>        
    </article>
        <div class="fourquizbtn"><p class="title1"><a href="/quiz/fourWord/practice">네글자<br> 이어말하기</a></p></div>
        <div class="commonsensebtn"><p class="title2"><a href="/quiz/knowledge/practice">상식</a></p></div>
        <div class="oxbtn"><p class="title4"><a href="/quiz/ox/practice">OX</a></p></div>

</body>
</html>
