<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>퀴즈</title>
</head>
<body>
    <h1>퀴즈 카테고리</h1>
    <input type="button" value="네글자 이어말하기" onclick="location.href='quiz'">
    <input type="button" value="상식" onclick="location.href='quiz'">
    <input type="button" value="OX" onclick="location.href='quiz'">
    <input type="button" value="넌센스" onclick="location.href='quiz'">
    <input type="button" value="국기" onclick="location.href='quiz'">
    <input type="button" value="과자" onclick="location.href='quiz'">
</body>
</html>