<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recreation Game</title>
    <link rel="stylesheet" href="/public/quiz.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="top">
      <h1 class="title">퀴즈 카테고리</h1>

      <div class="home">
        <a href="/">
          <img class="home" src="/public/home.png" alt="홈으로" />
        </a>
      </div>
    </nav>

    <section>
      <hr class="line" color="black" size="5" />
    </section>

    <article class="btn">
      <div class="fourquizbtn"><a href="/gameTimerSetting/fourWord">네글자<br />이어말하기</a></div>
      <div class="commonsensebtn"><a href="/gameTimerSetting/knowledge">상식</a></div>
      <div class="oxbtn"><a href="/gameTimerSetting/ox">OX</a></div>
      <div class="nonesensebtn"><a href="/gameTimerSetting/nonsense">넌센스</a></div>
      <div class="flagbtn"><a href="/gameTimerSetting/flag">국기</a></div>
    </article>
  </body>
</html>